@page "/people/{id:int}"
@inject IPersonService PersonService
@inject IModalService Modal 

<div class="container-fluid p-5">
    @if (_person == null)
    {
        <p>@_message</p>
    }
    else
    {
        <div>
            <h1>@_person.Name</h1>
        </div>
        <div class="row details">
            <div class="col-md-6 offset-md-1 col-md-push-5 py-3">
                <p>@_person.Biography</p>
                @if (!_person.Birthday.Equals(new DateTime(1, 1, 1)))
                {
                    <p>Birthday: @_person.Birthday.ToString("dd/MM/yyyy")</p>
                }
                @if (!_person.DeathDay.Equals(new DateTime(1, 1, 1)))
                {
                    <p>Death: @_person.DeathDay.ToString("dd/MM/yyyy")</p>
                }
                @if (!string.IsNullOrEmpty(_person.PlaceOfBirth))
                {
                    <p>Place of Birth: @_person.PlaceOfBirth</p>
                }
            </div>
            <div class="col-md-4 order-first order-md-last py-3">
                <img
                    src="@_person.ImageUrl"
                    @onclick="@(() => Modal.Show<Image>(_person.Name, new ModalParameters().Add("ImageUrl", _person.ImageUrl)))"
                    alt="Movie image"/>
            </div>
        </div>
        <PersonMovies Credits="_person.Credits"/>
    }
</div>