@inject IStatsService StatsService

@if (_viewModel == null)
{
    <p>No age information about this movie</p>
}
else if (_viewModel.ChartData != null && _viewModel.Data != null)
{
    <RadzenChart>
        <RadzenColumnSeries 
            Data="_viewModel.ChartData" 
            CategoryProperty="AgeRange" 
            ValueProperty="Count"
            Title="People" 
            Fill="#653780">
            <RadzenSeriesDataLabels Visible="true"/>
        </RadzenColumnSeries>
        <RadzenCategoryAxis>
            <RadzenTicks>
                <Template>
                    <text class="rz-tick-text" style="text-anchor: start; transform: translate(@(context.X)px, @(context.Y + 10)px) rotate(45deg)">@context.Value</text>
                </Template>
            </RadzenTicks>
        </RadzenCategoryAxis>
        <RadzenLegend Visible="false"/>
        <RadzenValueAxis Min="0"/>
        <RadzenColumnOptions Radius="5"/>
    </RadzenChart>
    <div class="row py-4">
        <div class="col-auto">
            <p>Total:</p>
            <p>Youngest:</p>
            <p>Average age:</p>
            <p>Oldest:</p>
        </div>
        <div class="col-auto">
            <p>@_viewModel.Data.AgeDistribution.Values.Sum()</p>
            <p>@_viewModel.Data.Youngest</p>
            <p>@_viewModel.Data.AverageAge</p>
            <p>@_viewModel.Data.Oldest</p>
        </div>
    </div>
}