@inject IMovieListService MovieListService
@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm Model="@_list" OnValidSubmit="@CreateNewListAsync">
     <DataAnnotationsValidator/>    
     <div class="py-2">
         <fieldset>
             <div class="input-group">
                 <InputText @bind-Value="_list.Title" placeholder="Title" class="form-control"/>
             </div>
             <ValidationMessage For="@(() => _list.Title)"/>
         </fieldset>
     </div>
     <div class="">
         <p class="error-message">@_errorMessage</p>
         <p class="success-message">@_successMessage</p>
     </div>
     <div class="py-2">
         <button class="btn btn-primary w-100">Save List</button>
     </div>
</EditForm>